.titulo{
  text-align: center;
}

img{
  width: 100%;
}

.section_image{
  padding: 15%;
}

.cont_img{
  padding: 5%;
}

.fondo_form{
  background-color: #F52BAB;
  padding: 5%;
}

.titulo_form{
  text-align: center;
  padding-bottom: 5%;
}

.container_form{
  padding:3% 10%;
}

.contaner_icon{
  text-align: center;
  padding: 2%;
}